h1 { color:rgb(101, 136, 84); 
   font-family:Helvetica;
   font-size: 72;
   border:10px solid rgb(83, 133, 104) ;
   padding: 30px;
}



p {
    color: aquamarine;
    font-family:Helvetica;
}

body {
    background-color:rgb(20, 87, 16);
}

p {
    color:rgb(0, 255, 179);
    font-family: Helvetica;
}

img{
    width: 45%;
    height: 45%;
    margin-left:  105px; 
}

img{
    width: 45%;
    height: 45%;
    margin-left: 100px;
}
